body{
    margin: 5px;
    margin-top: 0;
    margin-bottom: 0;
}
#head{
    
    text-align: center ;
    height: 25px;
    width: 100%;
    background-color: black;    
}
#head a{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: medium;
    border: 5px;
    color: white;
    margin-left: 35px;
    text-decoration: none;
}
#about_me{
    margin-bottom: 0;
    height: 470px;
    background-color: white;
}
.fa-linkedin{
    font-size: 50px;
    color: black;
}
.fa-instagram-square{
    font-size: 50px;
    color: black;
}
.fa-hackerrank{
    font-size: 50px;
    color: black;
}
.fa-python{
    font-size: 150px;
    color: white;
    margin-right: 15px;
}
.fa-copyright{
    font-size: 150px;
    margin-right: 15px;
    
}
.fa-cuttlefish{
    font-size: 130px;
    color: white;
    margin-right: 15px;
}
.fa-css3{
    font-size: 150px;
    color: white;
    margin-right: 15px;
}
.fa-html5{
    font-size: 150px;
    color: white;
    margin-right: 15px;
}
.fa-music{
    font-size: 100px;
    color: white;
    margin-right: 55px;
}

.fa-laptop-code{
    font-size: 100px;
    color: white;
    margin-right: 55px;   
}
.fa-camera-retro{
    font-size: 100px;
    color: white;
}
#skills{
    height: 480px;
    margin-top:0;
    background-color: black;
}


/* #footer{
    position: absolute;
    height: 70px;
    width: 100%;
    background-color: black;
    text-align: center;

} */